{%load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Add Person</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <h1>Add Person</h1>
    <form method="post" action="{% url 'add' %}">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Add">
    </form>
    <br>
    <a href="{% url 'people' %}">Show People</a>
</body>
</html>